# C++ Build & CMake Artifacts
build/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
*.cmake

# Compiled C++ Binaries (The stuff that changes every time you run 'make')
*.so
*.dylib
*.o
*.a

# Python Environments & Cache
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# OS & IDE Files (Keeps it clean for other developers)
.DS_Store
.vscode/
.idea/
*.swp